@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #1A1A1A;
  --cream: #FCF2F4;
  --light-grey: #ABAFB5;
  --charcoal: #1A1A1A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-cream: var(--cream);
  --color-light-grey: var(--light-grey);
  --color-charcoal: var(--charcoal);
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-lato);
}

body {
  background: var(--cream);
  color: var(--charcoal);
  font-family: var(--font-sans), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif), serif;
}